 .featured {
  padding: 80px 60px;
  text-align: center;
  background-color: whitesmoke;
}

.featured h2 {
  font-family: 'Playfair Display', serif;
  font-size: 38px;
  margin-bottom: 10px;
}

.subtitle {
  max-width: 700px;
  margin: 0 auto 50px;
  color: #6b7280;
  font-size: 15px;
}

/* GRID */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  margin-bottom: 50px;
}

/* CARD */
.card {
  background: #fff;
  border-radius: 16px;
  overflow: hidden; 
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  text-align: left;
}

/* IMAGE */
.img-box {
  position: relative;
  height: 190px;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #fff;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
}

/* BODY */
.card-body {
  padding: 16px;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-body h3 {
  font-size: 16px;
  font-weight: 600;
}

.rating {
  font-size: 14px;
  color: #f97316;
}

.location {
  font-size: 13px;
  color: #6b7280;
  margin: 8px 0 16px;
}

/* BOTTOM */
.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: 600;
  font-size: 18px;
}

.price span {
  font-size: 13px;
  color: #6b7280;
}

.bottom-row button {
  padding: 8px 14px;
  border: 1px solid #d1d5db;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
}

/* VIEW ALL */
.view-all {
  padding: 12px 24px;
  border: 1px solid #d1d5db;
  background-color:  rgb(106, 67, 235);
  border-radius: 8px;
  cursor: pointer;
  color: azure;
}