nav {
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.3s ease;
}



nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  height: 60px;
  padding: 1rem 2rem; /* responsive spacing */

  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.3s ease;
  left: 0;
  z-index: 1000;

 
}
.leftlogo img{
  width: 43px;
  height: auto;
  margin: 2px 4px 0 0;
 
}
.leftlogo{
   display: flex;
}
/* NAV LINKS */
nav .middlelogo ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 1.1rem;
  flex-wrap: nowrap; /* no wrap (middle should not break) */
}

/* RIGHT SECTION */
nav .rightlogo {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.1rem;
}
nav.transparent {
  background: transparent;
  color: white;
}
nav.transparent button {
  color: white;
   text-decoration: none;
}


nav.normal {
  background: #ffffff;
  color: black;
}
nav.normal button {
  color: black;
   text-decoration: none;
}
.nav-link {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: inherit;
}


/* MOBILE NAV FIX */
@media (max-width: 768px) {
  nav {
    padding: 1rem;
  }

  nav .middlelogo {
    display: none; /* hide middle nav for small screens */
  }

  nav .rightlogo {
    gap: 1rem;
  }
}
